@model webXML.Models.Model
@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>
<form method="post" asp-action="Index" enctype="multipart/form-data">
    Outages CSV file:
    <input name="outagesFile" type="file" /><br />
    Critical Branches CSV file:
    <input name="criticalBranchesFile" type="file" /><br />
    <br />
    ConstraintTimeInterval:
    <input
           asp-for="Settings.constraintTimeInterval"
           type="text"
           value="2019-02-19T23:00Z/2019-02-20T23:00Z"
           /><br />
    ServerIdentification:
    <input
           asp-for="Settings.senderIdentification"
           type="text"
           value="17XTSO-CS------W"
           /><br />
    ReceiverIdentification:
    <input
           asp-for="Settings.receiverIdentification"
           type="text"
           value="17XTSO-CS------W"
           /><br />
    Outages per branch:
    <input
           asp-for="Settings.outagesPerBranch"
           type="number"
           value="1"
           /><br />
    <input type="submit" />
</form>
<p style="white-space: pre-line">@Model.Output</p>